* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: salmon;
    padding: 10px;
}

.todolist {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todolist h2 {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightgray;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    background-image: url(images/unchecked.png);
    height: 28px;
    width: 28px;
    border-radius:50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul il span:hover{
    background: #edeef0;
}